[submodule "thirdparty/JUCE"]
	path = thirdparty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "thirdparty/simde"]
	path = thirdparty/simde
	url = https://github.com/simd-everywhere/simde.git
[submodule "thirdparty/fontaudio"]
	path = thirdparty/fontaudio
	url = https://github.com/jpcima/fontaudio.git
